<p id="notice"><%= notice %></p>

<p>
  <b>Completed:</b>
  <%= @task_list.completed %>
</p>

<p>
  <b>Title:</b>
  <%= @task_list.title %>
</p>

<p>
  <b>Uniqueid:</b>
  <%= @task_list.uniqueId %>
</p>

<p>
  <b>Tasks:</b>
  <%= @task_list.tasks %>
</p>


<%= link_to 'Edit', edit_task_list_path(@task_list) %> |
<%= link_to 'Back', task_lists_path %>
